<div class="header">
  <h2>
    Welcome to SSN Search Registration Page
  </h2>
</div>
<div class="container" >
  <!-- Adding user details table -->
    <div class="table1">
      <form method="POST"> 
      <table>
        <tr>
          <th>Adding User Details</th>
        </tr>
        <tr>
          <td>Username:</td>
          <td><input type="text" placeholder="Enter Username" ></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><input type="text" placeholder="Enter Name" ></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="email" placeholder="Enter Email" ></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" placeholder="Enter Password" ></td>
        </tr>
        <tr>
          <input type="submit">
          <input type="reset">
        </tr>

      </table>
      </form>
    </div>
    <!-- Updating user details table -->
    <!-- <div class="table2">
      <table>
        <tr>
          <th>Updating User Details</th>
        </tr>
        <tr>
          <td>Username:</td>
          <td><input type="text" placeholder="Enter Username" ></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><input type="text" placeholder="Enter Name" ></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="email" placeholder="Enter Email" ></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" placeholder="Enter Password" ></td>
        </tr>

      </table> -->
      <!-- Deleting user details table -->
    <!-- </div>
    <div class="table3">
        <table>
          <tr>
            <th>Adding User Details</th>
          </tr>
          <tr>
            <td>Username:</td>
            <td><input type="text" placeholder="Enter Username" ></td>
          </tr>
          <tr>
            <td>Name:</td>
            <td><input type="text" placeholder="Enter Name" ></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type="email" placeholder="Enter Email" ></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" placeholder="Enter Password" ></td>
          </tr>
  
        </table>
  
      </div> -->
</div>
<div class="footer">
  <h4>Created be Sumit Gawas</h4>
</div>